DATABASE_URL="file:./dev.db"
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
JWT_SECRET=change-me-to-a-random-string
NEXT_PUBLIC_SITE_URL=http://localhost:3000
UPLOAD_DIR=/var/www/rugby-dinamo/uploads

# Email IMAP (for unread count in admin)
EMAIL_IMAP_HOST=mail.dinamorugby.ro
EMAIL_IMAP_PORT=993
EMAIL_IMAP_USER=contact@dinamorugby.ro
EMAIL_IMAP_PASS=
